<div id="error_explanation">
  <% if item.errors.any? %>
      <h2><%= item.errors.count %> error prohibited this obj from being saved:</h2>
      <ul>
          <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
  <% end %>
</div>