<div id="error_explanation">
  <% if shipping_address.errors.any? %>
      <h2><%= shipping_address.errors.count %> error prohibited this obj from being saved:</h2>
      <ul>
          <% shipping_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
  <% end %>
</div>